/* Leaflet Marker Cluster Default Structure */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

/* Custom Colors for SDA - Premium Look */
.marker-cluster-small {
	background-color: rgba(34, 139, 230, 0.4); /* Mantine Blue 6 */
}
.marker-cluster-small div {
	background-color: rgba(34, 139, 230, 0.8);
}

.marker-cluster-medium {
	background-color: rgba(250, 176, 5, 0.4); /* Yellow 6 */
}
.marker-cluster-medium div {
	background-color: rgba(250, 176, 5, 0.8);
}

.marker-cluster-large {
	background-color: rgba(253, 126, 20, 0.4); /* Orange 6 */
}
.marker-cluster-large div {
	background-color: rgba(253, 126, 20, 0.8);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: white;
}
.marker-cluster span {
	line-height: 30px;
}
